<div class="atc">
  <div class="atc__add" ><span class="footer__arrow">→</span> add to calendar</div>
  <div class="atc__options atc__data" id="atc-test-{{card.id}}" data-date="{{card.post_type is same as('service') ? card.service_date : card.class_date}}" data-post-id="{{card.id}}" data-start-time="{{card.start_time}}" data-end-time="{{card.end_time}}" data-title="{{card.service_title}}" data-description="{{card.calendar_invite_description}}"></div>
</div>