{% set shareTitle = getShareTitle(card) %}
{% set shareLink = getShareLink(card) %}
{% set twitterText = 'Park Avenue Synagogue | ' %}
<div class="share">
  <div class="share__add" >Share</div>
  <div class="share__options">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{shareLink}}" target="_blank">Facebook</a>—
    <a href="https://twitter.com/intent/tweet?text={{twitterText|url_encode}}{{shareTitle|url_encode}}&url={{shareLink}}" target="_blank">Twitter</a>—
    <a href="mailto:?subject={{twitterText|url_encode}}{{shareTitle|url_encode}}&body={{shareLink|url_encode}}" target="_blank"fa>Email</a>
  </div>
</div>